/* inicio todos */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .body_css{
    background-color: black;
    font-family: "Lucida Console";
    display: flex;
    flex-direction: column;
  }
  .imagem {
    background-image: url("../img/logo.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;       
    width: 100%;
    background-attachment: fixed;
  }

  .imagem-banner {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    padding: 20px;
  }
  .navbar {
    display: flex;                   /* Alinha filhos em linha */
    justify-content: space-between; /* Espaço entre esquerda e direita */
    align-items: center;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 20px;
    width: 100%;
    z-index: 1000;
    padding: 15px 30px;
  }

  .navbar-esquerda a,
  .navbar-direita a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar-esquerda a:hover,
  .navbar-direita a:hover {
    background: #ddd;
    color: black;
  }
 
  main {
    flex: 1;
    text-align: center;
    margin-top: 80px;
    padding-top: 60px;
    padding-bottom: 80px;
  }
  footer {
    background-color: transparent; 
    color: white;                       
    text-align: center;                  
    padding: 20px;                       
    font-family: Arial, sans-serif;     
    font-size: 14px;
    padding-top: 20px;
  }

  footer a {
    color: white;                        
    text-decoration: underline;          
  }
  .divRepart {
    text-align: center;   
  }

  footer a:hover {
    color: #ccc;                        
  }
  footer i {
    margin-right: 5px;
  }
/* fim todos */
/*inicio trecho index.html */
  .text-block {
      position: absolute;
      bottom: 10%;
      right: 5%;
      background-color: rgba(0, 0, 0, 0.651);
      color: rgb(255, 255, 255);
      padding: 20px;
      max-width: 30%; /* ou use 400px */
      width: 100%;
      box-sizing: border-box;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 8px;
      text-align: left;
    }
  /* .js{
    font-family: Arial, Helvetica, sans-serif;
  } */
/*fim trecho index.html */

/* inicio trecho contato.html */

  .contato_icones {
    position:  center;
    text-align: center;
    bottom: 35px;
    right: 10px;
    display: flex;
    justify-content: center;  /* centraliza os dois ícones juntos */
    align-items: center;
    gap: 40px; /* espaço entre os ícones */
  }
  .container_contato {
    position: relative;
    width: 50px; 

  }
  .logo_contato {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    opacity: 1;
    transition: 0.5s ease;
  }
  .bloco_contato {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px; 
    height: 50px;
    transform: translate(-50%, -50%);
    text-align: center;
  }


  .container_contato:hover .logo_contato {
    opacity: 0.3;
  }

  .container_contato:hover .bloco_contato {
    opacity: 1;
  }

  .text_contatoW {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 16px;
    border-radius: 8px;
    align-items: center;
  }
  .text_contatoI {
    background-color: #c203a8;
    color: white;
    font-size: 16px;
    padding: 16px 16px;
    border-radius: 8px;
  }
  .text_contatoY {
    background-color: #e41212;
    color: white;
    font-size: 16px;
    padding: 16px 16px;
    border-radius: 8px;
  }
  .text_contato a{
       color: white;                        
    text-decoration: underline;          
  }

  .text_contato a:hover {
    color: #ccc;                        
  }
  .h1_contato{
    text-align: center;
    color: rgba(255, 255, 255, 0.856);
  }

  .section_abanda {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(12, 12, 12, 0.644);
    color: white;
    font-family: Arial, sans-serif;
    padding: 40px;
    margin: 0 auto;   
    gap: 30px;   
    min-height: 50vh;      
  }
  .texto_abanda  {
    flex: 1;
    padding: 20px;
    justify-content: right;
    align-items: center;
  }

  .texto_abanda h1 {
    font-size: 36px;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
  }

  .texto_abanda p {
    margin-bottom: 15px;
    line-height: 1.6;
  }
  .texto_abanda a {
    color: white;                        
    text-decoration: underline;          
  }

  .texto_abanda a:hover {
    color: #ccc;                        
  }

  .imagem_abanda {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imagem_abanda img {
    max-width: 100%;
    max-height: 400px;
    border-radius: 10px;
  }
  
  .section_abanda2 {
    display: flex;
    flex-direction: row-reverse; /* Inverte a ordem dos filhos */
    justify-content: center;
    align-items: center;
    background-color: rgba(12, 12, 12, 0.644);
    color: white;
    font-family: Arial, sans-serif;
    padding: 40px;
    margin: 0 auto;     
    gap: 30px;  
    min-height: 50vh;  
  }

  .imagem_abanda2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imagem_abanda2 img {
    max-width: 100%;
    max-height: 300px;
    border-radius: 10px;
  }
  .main2{
      flex: 1;
      text-align: center;
      margin-top: 5px;
      padding-top: 20px;
      padding-bottom: 20px;

  }
/* fim trecho contato.html */
/* inicio trecho login.html */
  .login{
    background-color:  rgba(12, 12, 12, 0.767);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 50px;
    display: flex;
  }
  .description {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
  }
  .title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
  } 
  .login-esquerda{
    text-align: center;
    flex-direction: column;
    width: 40%;
    z-index: 10;
  }
  .login-direita {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .login input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
  }
  .login button{
    padding: 15px;
    font-size: 15px;
    border: none;
    outline: none;
    background-color:rgb(45, 230, 255); 
    border-radius: 15px;
  }
  .login button:hover{
    background: rgba(12, 197, 221, 0.884);
    color: black;
  }
  .login button a{
    color: rgb(0, 0, 0);                        
    text-decoration: underline;  
    text-decoration: none;
  }
  .login button a:hover {
    color: rgba(114, 114, 114, 0.884);
    text-decoration: none;                        
  }

/* fim trecho login.html */

  .alerta{
    background-color:  rgb(12, 12, 12);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 50px;
    align-items: center;
    color:rgba(255, 43, 43, 0.87); 
  }

 