RewriteEngine On

# Redireciona index.html para /
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/index\.html[\s?] [NC]
RewriteRule ^index\.html$ / [R=301,L]

# Redireciona contato.html para /c
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/contato\.html[\s?] [NC]
RewriteRule ^index\.html$ / [R=301,L]

# Redireciona cadastro_produto.html para /ca
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/cadastro_produto\.html[\s?] [NC]
RewriteRule ^index\.html$ / [R=301,L]

# Redireciona login.html para /l
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/login\.html[\s?] [NC]
RewriteRule ^index\.html$ / [R=301,L]

# Redireciona musicas.html para /m
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/musicas\.html[\s?] [NC]
RewriteRule ^index\.html$ / [R=301,L]

# Redireciona produtos.html para /p
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/produtos\.html[\s?] [NC]
RewriteRule ^index\.html$ / [R=301,L]

# Redireciona membros.html para /me
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/membros\.html[\s?] [NC]
RewriteRule ^index\.html$ / [R=301,L]
